*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root {
  --bg:        #0c0c0c;
  --bg2:       #141414;
  --bg3:       #1c1c1c;
  --border:    #2a2a2a;
  --border2:   #333;
  --text:      #f0f0f0;
  --text2:     #888;
  --text3:     #555;
  --accent:    #c8f542;
  --accent2:   #a8d432;
  --flag:      #ff4d4d;
  --flag-bg:   #2a0d0d;
  --big:       #f5a623;
  --big-bg:    #2a1d06;
  --live:      #00e676;
  --live-bg:   #052a17;
  --font-body: 'Inter', system-ui, sans-serif;
  --font-mono: 'IBM Plex Mono', 'Courier New', monospace;
  --r:         6px;
  --r2:        10px;
}

html { font-size: 15px; }
body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

button { cursor: pointer; font-family: var(--font-body); }
input  { font-family: var(--font-mono); }

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: var(--bg); }
::-webkit-scrollbar-thumb { background: var(--border2); border-radius: 2px; }

::selection { background: var(--accent); color: #000; }
